.footer {
  height: 200px;
  border-top: 3px solid #d4d4d4;

  .group-link,
  .group-info {
    ul {
      display: flex;
    }
  }

  .group-link {
    background: #f8f8f8;
    border-bottom: 1px solid #e4e4e4;

    .inner {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 9px 0;
    }

    .direct {
      &-list {
        .direct-item:not(.site) {
          .direct-item_title {
            border-right: 1px solid #ddd;
          }
        }
      }

      &-item {
        position: relative;

        .triangle {
          display: none;

          &.on {
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%) rotate(180deg);
            bottom: -2.5%;
          }
        }

        &_title {
          font-size: 12px;
          padding: 0 50px;

          &::after {
            content: "";
            display: inline-block;
            background: url("../images/i_footer_more.png") no-repeat center;
            width: 11px;
            height: 11px;
            padding: 0 5px;
          }

        }

        .item {
          &-area {
            display: none;

            &.on {
              display: block;
              position: absolute;
              bottom: 130%;
              background: #fff;
              border: 1px solid;

              &.tel {
                width: 350px;
                left: 7%;

                .sub {
                  &-item {
                    font-size: 11px;

                    &:not(&:last-child) {
                      padding: 20px 0;
                      border-bottom: 2px solid #ddd;
                    }

                    &:last-child {
                      padding-top: 20px;
                    }

                    .cate {
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      width: 70px;
                      padding: 10px 0px;
                      color: #666;
                      background: #eee;

                      &:not(&.customer) {
                        background: #0083cd;
                        color: #fff;
                      }
                    }

                    .num-area {
                      flex-direction: column;
                      gap: 15px;
                    }

                    .tel_num {
                      font-size: 13px;
                      word-break: break-all;
                      font-weight: bold;
                    }

                    &.new {
                      .tel_num {
                        display: flex;
                        gap: 10px;

                        span:nth-child(1) {
                          width: 50px;
                        }
                      }
                    }
                  }
                }
              }

              &.service,
              &.language {
                width: 200px;

                .triangle {
                  bottom: -3.5%;
                }
              }

              &.service {
                left: 8%;
              }

              &.language {
                left: 13%;

                .sub {
                  &-item {
                    padding-top: 5px;
                    gap: 5px;

                    &::before {
                      content: "";
                      display: block;
                      width: 20px;
                      height: 16px;
                    }

                    &.English {
                      padding-top: 15px;

                      &::before {
                        background: url("../images/all_svc_flag_us(1).gif") no-repeat;
                        background-size: cover;
                      }
                    }

                    &.Chinese {
                      &::before {
                        background: url("../images/all_svc_flag_china(1).gif") no-repeat;
                        background-size: cover;
                      }
                    }

                    &.Japanese {
                      &::before {
                        background: url("../images/all_svc_flag_japan(1).gif") no-repeat;
                        background-size: cover;
                      }
                    }

                    &.Filipino {
                      &::before {
                        background: url("../images/all_svc_flag_philippines(1).gif") no-repeat;
                        background-size: cover;
                      }
                    }

                    &.Vietnamese {
                      &::before {
                        background: url("../images/all_svc_flag_vietnam(1).gif") no-repeat;
                        background-size: cover;
                      }
                    }

                    &.Mongolian {
                      &::before {
                        background: url("../images/all_svc_flag_mongolia(1).gif") no-repeat;
                        background-size: cover;
                      }
                    }
                  }
                }
              }

              &.family {
                width: 278px;
                left: -18%;

                .sub {
                  &-list {
                    width: 100%;
                    flex-wrap: wrap;
                    grid-row-gap: 13px;
                    height: 195px;
                    padding-top: 20px;
                  }

                  &-item {
                    padding: 0;
                    height: fit-content;
                  }
                }
              }
            }
          }

          &-list {
            display: flex;
            flex-direction: column;
            padding: 20px;
          }

          &>a {
            font-size: 16px;
            border-bottom: 2px solid #666;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
          }
        }

        .sub {
          &-list {
            flex-direction: column;
          }

          &-item {
            display: flex;
            align-items: flex-start;
            gap: 15px;
            font-size: 13px;
            padding-top: 15px;
          }
        }

        &.tel {
          &_title {
            font-weight: 600;
          }
        }
      }
    }

    .sns {
      &-list {
        gap: 10px;
      }

      &-item {
        width: 22px;
        height: 22px;
        cursor: pointer;

        &.facebook {
          background: url("../images/i_footer_facebook.png") no-repeat center;
        }

        &.instagram {
          background: url("../images/i_footer_instagram.png") no-repeat center;
        }

        &.blog {
          background: url("../images/i_footer_blog.png") no-repeat center;
        }

        &.youtube {
          background: url("../images/i_footer_youtube.png") no-repeat center;
        }

        &.navertv {
          background: url("../images/i_footer_navertv.png") no-repeat center;
        }
      }
    }
  }

  .group-info {
    display: flex;
    padding: 15px 70px;

    .footer-logo {
      width: 33px;
      height: 34px;
      background: url("../images/f_logo.jpg") no-repeat center;
      padding: 10px;
    }

    .info-area {
      padding-left: 30px;

      a,
      small {
        font-size: 12px;
        color: #7e7e7e;
      }

      a {
        line-height: 20px;

        &:hover {
          color: #000;
        }
      }

      small {
        line-height: 30px;
      }

      ul {
        li {
          &:not(li:last-child) {
            a {
              display: flex;
              align-items: center;

              &::after {
                content: "";
                width: 1px;
                height: 10px;
                margin: 0 5px;
                background: #7f7f7f;
              }
            }
          }

          &.bold {
            a {
              color: #555;
              font-weight: bold;
            }
          }

          &:hover {
            color: #000;
          }
        }
      }
    }

    .mark-area {
      display: flex;
      align-items: center;
      margin-left: auto;

      ul {
        li {
          min-width: 35px;
          min-height: 22px;
          background: #0f0;
          cursor: pointer;

          &.mark1 {
            background: url("../images/mark1.png") no-repeat center / contain;
          }

          &.mark2 {
            background: url("../images/mark2.gif") no-repeat center / contain;
          }

          &.mark3 {
            background: url("../images/mark3.png") no-repeat center / contain;
          }
        }
      }
    }
  }
}