.header {

  .inner {
    display: flex;
    align-items: center;
    height: 60px;

    .logo {
      a {
        display: block;
        background: url("../images/logo.png") no-repeat;
        width: 122px;
        height: 31px;
        background-size: contain;
      }
    }

    .auth-area {
      display: flex;
      gap: 5px;
      margin-left: 16px;

      li {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 600;

        .sub-list {
          display: none;

          &.on {
            display: flex;
            justify-content: space-between;
            width: 112px;
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            height: fit-content;
            border: 1px solid #ccc;
            border-radius: 7px;
            background: #fff;
            box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.6);
          }

          .bar {
            position: relative;

            &::after {
              content: "";
              width: 1px;
              height: 17px;
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              background: #ccc;
            }
          }

          .sub-item {
            padding: 11px 15px;
            color: #0082cd;
            font-weight: 500;
            font-size: 13px;
          }
        }

        &.link-login {
          background: url("../images/gnb_login.png") no-repeat center / cover;
          width: 80px;
          height: 30px;
          color: #fff;
          padding-right: 13px;
        }

        &.link-auth {
          background: url("../images/gnb_auth.png") no-repeat center / cover;
          width: 97px;
          height: 30px;
          padding-right: 15px;

          .sub-item {
            padding: 11px 15px;
            color: #626161;
            font-weight: 500;
            font-size: 13px;
          }
        }
      }
    }

    .gnb {
      padding-left: 30px;

      .nav {
        &-list {
          display: flex;
          gap: 20px;
        }

        &-item {
          position: relative;

          &_title {
            font-size: 15px;
            font-weight: bold;
          }

          .triangle {
            display: none;

            &.on {
              display: block;
              position: absolute;
              top: 140%;
              left: 35%;
              z-index: 3;
            }
          }

        }
      }

      .sub {
        &-list {
          display: none;

          &.on {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 180%;
            left: 50%;
            transform: translateX(-37%);
            height: fit-content;
            width: 140px;
            background: #fff;
            border: 1px solid #666;
            z-index: 2;
            padding: 15px 20px;
            box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.6);
          }
        }

        &-item {
          padding-top: 10px;
          font-size: 12px;
          color: #666;
          font-weight: bold;

          &:nth-child(1) {
            font-size: 16px;
            font-weight: bold;
            border-bottom: 2px solid #666;
            padding-bottom: 10px;
            padding-top: 0;
            color: #000;

            &+.sub-item {
              padding-top: 15px;
            }
          }
        }
      }
    }

    .util {
      &-area {
        display: flex;
        align-items: center;
        margin-left: auto;

        .btn-search {
          width: 25px;
          height: 25px;
          background: url("../images/i_search.png") no-repeat center / cover;
          margin-left: 14px;
        }
      }

      &-list {
        display: flex;
        gap: 14px;
        font-size: 15px;
        font-weight: bold;
      }

      &-item {
        position: relative;

        .triangle {
          display: none;

          &.on {
            display: block;
            position: absolute;
            top: -3.5%;
            left: 39%;
            z-index: 3;
          }
        }

        .item {
          &-area {
            display: none;

            &.on {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 153%;
              left: 50%;
              transform: translateX(-37%);
              height: fit-content;
              width: 230px;
              background: #fff;
              border: 1px solid #666;
              z-index: 2;
              padding: 15px 20px;
              box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.6);
            }
          }

          &>a {
            display: flex;
            align-items: flex-start;
            font-size: 16px;
            font-weight: bold;
            border-bottom: 2px solid #666;
            padding-bottom: 10px;
            padding-top: 0;
            color: #000;
          }
        }

        .sub {
          &-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 15px;
            font-size: 12px;
            color: #666;

            &+.sub-item {
              padding-top: 10px;
            }

            &::before {
              content: "";
              display: block;
              width: 20px;
              height: 16px;
            }

            &.English {
              &::before {
                background: url("../images/all_svc_flag_us.gif") no-repeat;
                background-size: cover;
              }
            }

            &.Chinese {
              &::before {
                background: url("../images/all_svc_flag_china.gif") no-repeat;
                background-size: cover;
              }
            }

            &.Japanese {
              &::before {
                background: url("../images/all_svc_flag_japan.gif") no-repeat;
                background-size: cover;
              }
            }

            &.Filipino {
              &::before {
                background: url("../images/all_svc_flag_philippines.gif") no-repeat;
                background-size: cover;
              }
            }

            &.Vietnamese {
              &::before {
                background: url("../images/all_svc_flag_vietnam.gif") no-repeat;
                background-size: cover;
              }
            }

            &.Mongolian {
              &::before {
                background: url("../images/all_svc_flag_mongolia.gif") no-repeat;
                background-size: cover;
              }
            }
          }
        }
      }
    }
  }
}