@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  min-width: 1000px;
}

.inner {
  width: 980px;
  margin: 0 auto;
}

#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}
#skip-header a:focus, #skip-header a:active {
  transform: translateY(0);
}

.header .inner {
  display: flex;
  align-items: center;
  height: 60px;
}
.header .inner .logo a {
  display: block;
  background: url("../images/logo.png") no-repeat;
  width: 122px;
  height: 31px;
  background-size: contain;
}
.header .inner .auth-area {
  display: flex;
  gap: 5px;
  margin-left: 16px;
}
.header .inner .auth-area li {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}
.header .inner .auth-area li .sub-list {
  display: none;
}
.header .inner .auth-area li .sub-list.on {
  display: flex;
  justify-content: space-between;
  width: 112px;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 7px;
  background: #fff;
  box-shadow: 2px 2px 5px -4px rgba(0, 0, 0, 0.6);
}
.header .inner .auth-area li .sub-list .bar {
  position: relative;
}
.header .inner .auth-area li .sub-list .bar::after {
  content: "";
  width: 1px;
  height: 17px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #ccc;
}
.header .inner .auth-area li .sub-list .sub-item {
  padding: 11px 15px;
  color: #0082cd;
  font-weight: 500;
  font-size: 13px;
}
.header .inner .auth-area li.link-login {
  background: url("../images/gnb_login.png") no-repeat center/cover;
  width: 80px;
  height: 30px;
  color: #fff;
  padding-right: 13px;
}
.header .inner .auth-area li.link-auth {
  background: url("../images/gnb_auth.png") no-repeat center/cover;
  width: 97px;
  height: 30px;
  padding-right: 15px;
}
.header .inner .auth-area li.link-auth .sub-item {
  padding: 11px 15px;
  color: #626161;
  font-weight: 500;
  font-size: 13px;
}
.header .inner .gnb {
  padding-left: 30px;
}
.header .inner .gnb .nav-list {
  display: flex;
  gap: 20px;
}
.header .inner .gnb .nav-item {
  position: relative;
}
.header .inner .gnb .nav-item_title {
  font-size: 15px;
  font-weight: bold;
}
.header .inner .gnb .nav-item .triangle {
  display: none;
}
.header .inner .gnb .nav-item .triangle.on {
  display: block;
  position: absolute;
  top: 140%;
  left: 35%;
  z-index: 3;
}
.header .inner .gnb .sub-list {
  display: none;
}
.header .inner .gnb .sub-list.on {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translateX(-37%);
  height: -moz-fit-content;
  height: fit-content;
  width: 140px;
  background: #fff;
  border: 1px solid #666;
  z-index: 2;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.6);
}
.header .inner .gnb .sub-item {
  padding-top: 10px;
  font-size: 12px;
  color: #666;
  font-weight: bold;
}
.header .inner .gnb .sub-item:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #666;
  padding-bottom: 10px;
  padding-top: 0;
  color: #000;
}
.header .inner .gnb .sub-item:nth-child(1) + .sub-item {
  padding-top: 15px;
}
.header .inner .util-area {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header .inner .util-area .btn-search {
  width: 25px;
  height: 25px;
  background: url("../images/i_search.png") no-repeat center/cover;
  margin-left: 14px;
}
.header .inner .util-list {
  display: flex;
  gap: 14px;
  font-size: 15px;
  font-weight: bold;
}
.header .inner .util-item {
  position: relative;
}
.header .inner .util-item .triangle {
  display: none;
}
.header .inner .util-item .triangle.on {
  display: block;
  position: absolute;
  top: -3.5%;
  left: 39%;
  z-index: 3;
}
.header .inner .util-item .item-area {
  display: none;
}
.header .inner .util-item .item-area.on {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 153%;
  left: 50%;
  transform: translateX(-37%);
  height: -moz-fit-content;
  height: fit-content;
  width: 230px;
  background: #fff;
  border: 1px solid #666;
  z-index: 2;
  padding: 15px 20px;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.6);
}
.header .inner .util-item .item > a {
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 2px solid #666;
  padding-bottom: 10px;
  padding-top: 0;
  color: #000;
}
.header .inner .util-item .sub-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
  font-size: 12px;
  color: #666;
}
.header .inner .util-item .sub-item + .sub-item {
  padding-top: 10px;
}
.header .inner .util-item .sub-item::before {
  content: "";
  display: block;
  width: 20px;
  height: 16px;
}
.header .inner .util-item .sub-item.English::before {
  background: url("../images/all_svc_flag_us.gif") no-repeat;
  background-size: cover;
}
.header .inner .util-item .sub-item.Chinese::before {
  background: url("../images/all_svc_flag_china.gif") no-repeat;
  background-size: cover;
}
.header .inner .util-item .sub-item.Japanese::before {
  background: url("../images/all_svc_flag_japan.gif") no-repeat;
  background-size: cover;
}
.header .inner .util-item .sub-item.Filipino::before {
  background: url("../images/all_svc_flag_philippines.gif") no-repeat;
  background-size: cover;
}
.header .inner .util-item .sub-item.Vietnamese::before {
  background: url("../images/all_svc_flag_vietnam.gif") no-repeat;
  background-size: cover;
}
.header .inner .util-item .sub-item.Mongolian::before {
  background: url("../images/all_svc_flag_mongolia.gif") no-repeat;
  background-size: cover;
}

.footer {
  height: 200px;
  border-top: 3px solid #d4d4d4;
}
.footer .group-link ul,
.footer .group-info ul {
  display: flex;
}
.footer .group-link {
  background: #f8f8f8;
  border-bottom: 1px solid #e4e4e4;
}
.footer .group-link .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 9px 0;
}
.footer .group-link .direct-list .direct-item:not(.site) .direct-item_title {
  border-right: 1px solid #ddd;
}
.footer .group-link .direct-item {
  position: relative;
}
.footer .group-link .direct-item .triangle {
  display: none;
}
.footer .group-link .direct-item .triangle.on {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(180deg);
  bottom: -2.5%;
}
.footer .group-link .direct-item_title {
  font-size: 12px;
  padding: 0 50px;
}
.footer .group-link .direct-item_title::after {
  content: "";
  display: inline-block;
  background: url("../images/i_footer_more.png") no-repeat center;
  width: 11px;
  height: 11px;
  padding: 0 5px;
}
.footer .group-link .direct-item .item-area {
  display: none;
}
.footer .group-link .direct-item .item-area.on {
  display: block;
  position: absolute;
  bottom: 130%;
  background: #fff;
  border: 1px solid;
}
.footer .group-link .direct-item .item-area.on.tel {
  width: 350px;
  left: 7%;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item {
  font-size: 11px;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item:not(.footer .group-link .direct-item .item-area.on.tel .sub-item:last-child) {
  padding: 20px 0;
  border-bottom: 2px solid #ddd;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item:last-child {
  padding-top: 20px;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item .cate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  padding: 10px 0px;
  color: #666;
  background: #eee;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item .cate:not(.footer .group-link .direct-item .item-area.on.tel .sub-item .cate.customer) {
  background: #0083cd;
  color: #fff;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item .num-area {
  flex-direction: column;
  gap: 15px;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item .tel_num {
  font-size: 13px;
  word-break: break-all;
  font-weight: bold;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item.new .tel_num {
  display: flex;
  gap: 10px;
}
.footer .group-link .direct-item .item-area.on.tel .sub-item.new .tel_num span:nth-child(1) {
  width: 50px;
}
.footer .group-link .direct-item .item-area.on.service, .footer .group-link .direct-item .item-area.on.language {
  width: 200px;
}
.footer .group-link .direct-item .item-area.on.service .triangle, .footer .group-link .direct-item .item-area.on.language .triangle {
  bottom: -3.5%;
}
.footer .group-link .direct-item .item-area.on.service {
  left: 8%;
}
.footer .group-link .direct-item .item-area.on.language {
  left: 13%;
}
.footer .group-link .direct-item .item-area.on.language .sub-item {
  padding-top: 5px;
  gap: 5px;
}
.footer .group-link .direct-item .item-area.on.language .sub-item::before {
  content: "";
  display: block;
  width: 20px;
  height: 16px;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.English {
  padding-top: 15px;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.English::before {
  background: url("../images/all_svc_flag_us(1).gif") no-repeat;
  background-size: cover;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.Chinese::before {
  background: url("../images/all_svc_flag_china(1).gif") no-repeat;
  background-size: cover;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.Japanese::before {
  background: url("../images/all_svc_flag_japan(1).gif") no-repeat;
  background-size: cover;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.Filipino::before {
  background: url("../images/all_svc_flag_philippines(1).gif") no-repeat;
  background-size: cover;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.Vietnamese::before {
  background: url("../images/all_svc_flag_vietnam(1).gif") no-repeat;
  background-size: cover;
}
.footer .group-link .direct-item .item-area.on.language .sub-item.Mongolian::before {
  background: url("../images/all_svc_flag_mongolia(1).gif") no-repeat;
  background-size: cover;
}
.footer .group-link .direct-item .item-area.on.family {
  width: 278px;
  left: -18%;
}
.footer .group-link .direct-item .item-area.on.family .sub-list {
  width: 100%;
  flex-wrap: wrap;
  grid-row-gap: 13px;
  height: 195px;
  padding-top: 20px;
}
.footer .group-link .direct-item .item-area.on.family .sub-item {
  padding: 0;
  height: -moz-fit-content;
  height: fit-content;
}
.footer .group-link .direct-item .item-list {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.footer .group-link .direct-item .item > a {
  font-size: 16px;
  border-bottom: 2px solid #666;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}
.footer .group-link .direct-item .sub-list {
  flex-direction: column;
}
.footer .group-link .direct-item .sub-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  font-size: 13px;
  padding-top: 15px;
}
.footer .group-link .direct-item.tel_title {
  font-weight: 600;
}
.footer .group-link .sns-list {
  gap: 10px;
}
.footer .group-link .sns-item {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.footer .group-link .sns-item.facebook {
  background: url("../images/i_footer_facebook.png") no-repeat center;
}
.footer .group-link .sns-item.instagram {
  background: url("../images/i_footer_instagram.png") no-repeat center;
}
.footer .group-link .sns-item.blog {
  background: url("../images/i_footer_blog.png") no-repeat center;
}
.footer .group-link .sns-item.youtube {
  background: url("../images/i_footer_youtube.png") no-repeat center;
}
.footer .group-link .sns-item.navertv {
  background: url("../images/i_footer_navertv.png") no-repeat center;
}
.footer .group-info {
  display: flex;
  padding: 15px 70px;
}
.footer .group-info .footer-logo {
  width: 33px;
  height: 34px;
  background: url("../images/f_logo.jpg") no-repeat center;
  padding: 10px;
}
.footer .group-info .info-area {
  padding-left: 30px;
}
.footer .group-info .info-area a,
.footer .group-info .info-area small {
  font-size: 12px;
  color: #7e7e7e;
}
.footer .group-info .info-area a {
  line-height: 20px;
}
.footer .group-info .info-area a:hover {
  color: #000;
}
.footer .group-info .info-area small {
  line-height: 30px;
}
.footer .group-info .info-area ul li:not(li:last-child) a {
  display: flex;
  align-items: center;
}
.footer .group-info .info-area ul li:not(li:last-child) a::after {
  content: "";
  width: 1px;
  height: 10px;
  margin: 0 5px;
  background: #7f7f7f;
}
.footer .group-info .info-area ul li.bold a {
  color: #555;
  font-weight: bold;
}
.footer .group-info .info-area ul li:hover {
  color: #000;
}
.footer .group-info .mark-area {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer .group-info .mark-area ul li {
  min-width: 35px;
  min-height: 22px;
  background: #0f0;
  cursor: pointer;
}
.footer .group-info .mark-area ul li.mark1 {
  background: url("../images/mark1.png") no-repeat center/contain;
}
.footer .group-info .mark-area ul li.mark2 {
  background: url("../images/mark2.gif") no-repeat center/contain;
}
.footer .group-info .mark-area ul li.mark3 {
  background: url("../images/mark3.png") no-repeat center/contain;
}

.container .headline {
  font-size: 22px;
  font-weight: bold;
}

.link-more {
  display: flex;
  align-items: center;
  position: absolute;
  top: 35px;
  font-size: 12px;
  color: #666;
}
.link-more::after {
  content: "";
  background: url("../images/i_link_more.png") no-repeat center/contain;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.section-visual .swiper {
  height: 520px;
}
.section-visual .swiper-slide a {
  display: flex;
  justify-content: center;
  height: 100%;
}
.section-visual .swiper-slide a img {
  width: 980px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-visual .swiper-slide.slide1 {
  background: #bfd9f7;
}
.section-visual .swiper-slide.slide2 {
  background: #e6f1f4;
}
.section-visual .swiper-slide.slide3 {
  background: #edf3fd;
}
.section-visual .swiper-slide.slide4 {
  background: #edf3fd;
}
.section-visual .swiper .control-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 60px;
  width: 100%;
  z-index: 1;
}
.section-visual .swiper .control-area .pagination {
  display: flex;
  gap: 4px;
  width: auto;
  margin-right: 10px;
}
.section-visual .swiper .control-area .pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #777;
  opacity: 1;
}
.section-visual .swiper .control-area .pagination .swiper-pagination-bullet-active {
  background: #000;
}
.section-visual .swiper .control-area .btn-autoplay {
  background: url("../images/i_btn_autoplay_pause.png") no-repeat center;
  width: 11px;
  height: 14px;
  padding: 0 20px;
  cursor: pointer;
}
.section-visual .swiper .control-area .btn-autoplay.on {
  width: 34px;
  height: 14px;
  background: url("../images/i_btn_autoplay_play.png") no-repeat center;
}
.section-visual .swiper .control-area .btn-prev, .section-visual .swiper .control-area .btn-next {
  width: 14px;
  height: 20px;
  opacity: 0.4;
  padding: 0 13px;
  cursor: pointer;
}
.section-visual .swiper .control-area .btn-prev {
  background: url("../images/i_btn_prev.png") no-repeat center/10px;
}
.section-visual .swiper .control-area .btn-next {
  background: url("../images/i_btn_next.png") no-repeat center/10px;
}

.section-quick {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -38px);
  z-index: 2;
  width: 772px;
}
.section-quick .menu-list {
  display: flex;
  color: #fff;
  background: #3a8dfd;
  border-radius: 60px;
  overflow: hidden;
  box-shadow: 0px 2px 10px #808080;
}
.section-quick .menu-list .bar {
  position: relative;
}
.section-quick .menu-list .bar::after {
  content: "";
  width: 1px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
}
.section-quick .menu-item {
  flex: 1;
}
.section-quick .menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 76px;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
}
.section-quick .menu-item:nth-child(1) {
  flex: 0 0 170px;
  background: #0082cd;
}
.section-quick .menu-item:nth-child(1) a {
  font-size: 20px;
}
.section-quick .menu-item:last-child {
  background: #fff;
  color: #000;
  flex: 0 0 175px;
}
.section-quick .menu-item:last-child a::after {
  content: "";
  display: block;
  background: url("../images/btn_quick.png") no-repeat;
  width: 12px;
  height: 22px;
  margin-left: 20px;
}
.section-quick .sub-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.section-quick .sub-item {
  padding: 0 20px;
}
.section-quick .sub-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7f7e7e;
  font-weight: bold;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  padding-top: 130px;
}
.flex-box .headline {
  margin-bottom: 32px;
}
.flex-box .section-finance {
  flex: 0 0 696px;
  position: relative;
}
.flex-box .section-finance .finance-list {
  display: flex;
}
.flex-box .section-finance .finance-list li {
  flex: 1;
}
.flex-box .section-finance .finance-list li a {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  letter-spacing: -1px;
  height: 93px;
}
.flex-box .section-finance .finance-list li a::before {
  content: "";
  width: 54px;
  height: 44px;
}
.flex-box .section-finance .finance-list li.deposit a::before {
  background: url("../images/i_deposit.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.deposit:hover {
  background-color: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.deposit:hover a::before {
  background: url("../images/i_deposit_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.loan a::before {
  background: url("../images/i_loan.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.loan:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.loan:hover a::before {
  background: url("../images/i_loan_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.fund a::before {
  background: url("../images/i_fund.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.fund:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.fund:hover a::before {
  background: url("../images/i_fund_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.forex a::before {
  background: url("../images/i_forex.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.forex:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.forex:hover a::before {
  background: url("../images/i_forex_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.trust a::before {
  background: url("../images/i_trust.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.trust:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.trust:hover a::before {
  background: url("../images/i_trust_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.retirement_pension a::before {
  background: url("../images/i_retirement_pension.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.retirement_pension:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.retirement_pension:hover a::before {
  background: url("../images/i_retirement_pension_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.insurance a::before {
  background: url("../images/i_insurance.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.insurance:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.insurance:hover a::before {
  background: url("../images/i_insurance_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.ISA a::before {
  background: url("../images/i_ISA.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.ISA:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-finance .finance-list li.ISA:hover a::before {
  background: url("../images/i_ISA_over.png") no-repeat center;
}
.flex-box .section-finance .finance-list li.ISA::after {
  content: "";
  position: absolute;
  top: 50px;
  right: -10px;
  width: 2px;
  height: 88px;
  background: #e9f2ff;
}
.flex-box .section-card {
  flex: 0 0 260px;
}
.flex-box .section-card .card-list {
  display: flex;
}
.flex-box .section-card .card-list li {
  flex: 1;
}
.flex-box .section-card .card-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 15px;
  letter-spacing: -1px;
  height: 93px;
}
.flex-box .section-card .card-list li a::before {
  content: "";
  width: 54px;
  height: 44px;
}
.flex-box .section-card .card-list li.card_application a::before {
  background: url("../images/i_card_application.png") no-repeat center;
}
.flex-box .section-card .card-list li.card_application:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-card .card-list li.card_application:hover a::before {
  background: url("../images/i_card_application_over.png") no-repeat center;
}
.flex-box .section-card .card-list li.my_card a::before {
  background: url("../images/i_my_card.png") no-repeat center;
}
.flex-box .section-card .card-list li.my_card:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-card .card-list li.my_card:hover a::before {
  background: url("../images/i_my_card_over.png") no-repeat center;
}
.flex-box .section-card .card-list li.event a::before {
  background: url("../images/i_event.png") no-repeat center;
}
.flex-box .section-card .card-list li.event:hover {
  background: #3A8DFD;
  border-radius: 50%;
  color: #fff;
}
.flex-box .section-card .card-list li.event:hover a::before {
  background: url("../images/i_event_over.png") no-repeat center;
}

.section-service .headline {
  margin-top: 28px;
}
.section-service .service-list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 25px 0 30px;
}
.section-service .service-list .service-item {
  flex: 1;
}
.section-service .service-list .service-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d8d8d8;
}
.section-service .service-list .service-item .image-box {
  width: 100%;
}
.section-service .service-list .service-item .image-box img {
  width: 100%;
}
.section-service .service-list .service-item .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-service .service-list .service-item .text-box .title {
  margin-top: 15px;
  font-size: 19px;
  color: #555;
  font-weight: 500;
}
.section-service .service-list .service-item .text-box .desc {
  font-size: 14px;
  color: #666;
  text-align: center;
  line-height: 1.5;
  padding: 10px 0;
}

.box {
  height: 180px;
  margin-bottom: 50px;
  padding: 45px 0;
  box-sizing: border-box;
  background: #f4f7fa;
}
.box .inner {
  display: flex;
  gap: 45px;
}
.box section {
  display: flex;
  gap: 30px;
  flex: 1;
  position: relative;
}
.box .headline-sm {
  font-size: 18px;
  font-weight: 500;
}
.box ul li a {
  display: flex;
  height: 30px;
}
.box ul li .content {
  display: block;
  font-size: 14px;
  max-width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.box ul li .cate {
  margin-right: 3px;
}
.box ul li .date {
  font-size: 12px;
  color: #555;
}
.box .section-news li a {
  gap: 65px;
}
.box .section-event .content {
  max-width: 350px;
}